name: Run tests and lint

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - name: Install dependencies
      run: yarn

    - name: Test and Lint
      run: |
        yarn ganache &
        yarn test
        yarn lint
